@import url('https://fonts.googleapis.com/css?family=Mukta');

html, body {
    height: 100%;
}

body {
    background-color: #ddd;
    font-family: Mukta;
    margin: 0px;
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

body > * {
    width: 100%;
}

nav {
    width: 20%;
    background-color: #2d3047;
    align-self: stretch;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
}

nav > * {
    clear: both;
}

nav h2 {
    font-size: 100%;
}

#account {
    display: flex;
    justify-content: space-evenly;
}

#account img {
    width: 30px;
    border-radius: 15px;
}

#not-nav {
}
    
header {
    color: #2d3047;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header  > * {
    margin: 0px;
}


main {
    display: flex;
    padding: 10px;
}

.module {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

#status p, #status p::before {
	opacity: 0.7;
	transition: opacity 0.25s;
}

#status p.active, #status p.active::before {
	opacity: 1;
}

#status p::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #ed217c;
	margin-bottom: 2px;
	margin-right: 10px;
}

#progress-bar {
	height: 10px;
	width: 100%;
	background-color: #ddd;
}

#progress-bar-inside {
	height: 100%;
	width: 0%;
	background-color: #1b998b;
	transition: width 0.25s;
}

#shitpost-button {
	border-radius: 5px;
	background-color: #2d3047;
	color: white;
	padding: 20px;
}

#shitpost-button:hover {
	background-color: black;
}

#wipes-remaining {
	text-align: center;
	text-transform: uppercase;
	display: flex;
}

#wipes-remaining h1 {
	font-size: 150%;
}

#wipes-remaining p {
	font-size: 500%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ed217c;
	text-shadow: 2px 2px 2px #b51059;
}

#retract button {
	border: none;
	background-color: #ed217c;
	color: white;
	font-family: inherit;
	font-size: 150%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 100%;
}

#retract button:hover {
	background-color: #c11b65;
}