<!doctype html>
<html>
    <head>
        <title>Data Dump</title>
        <meta charset="utf/8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ url_for('script') }}" defer></script>
    </head>
    <body>
        <nav>
            <h1>Data Dump</h1>
            <div id="account">
                <p><img src="{{ url_for('static', filename='profile.png') }}" alt="profile picture"></p>
                <p>vaseline_dion</p>
            </div>
            <h2>Dashboard</h2>
            <h2>My Account</h2>
            <h2>Settings</h2>
            <h2>Maintenance</h2>
        </nav>
        <div id="not-nav">
            <header>
                <p><img src="{{ url_for('static', filename='hamburger.png') }}"></p>
                <p><img src="{{ url_for('static', filename='bell.png') }}"></p>
            </header>
            <main>
                <div class="module">
                    <h1 id="shitpost-button">DISPENSE</h1>
                </div>
                
                <div id="status" class="module">
                    <p id="stage0">MINING...</p>
                    <p id="stage1">DISPENSING...</p>
					<p id="stage2">GATHERING WEATHER REPORT...</p>
					<p id="stage3">PRINTING...</p>
					<p id="stage4">READY!</p>
					<div id="progress-bar">
						<div id="progress-bar-inside"></div>
					</div>
                </div>
                
                <div id="wipes-remaining" class="module">
					<div>
						<h1>Wipes remaining</h1>
						<p id="wipe-counter">594</p>
					</div>
					<div>
						<canvas id="canvas" width="200px" height="200px"></canvas>
					</div>
                </div>
				
				<div id="retract" class="module">
					<button id="antishitpost">Retract</button>
					<br>
					<button id="noshitpost">Stop</button>
				</div>
				
				<div id="blockchain" class="module">
					<p><strong>BLOCKCHAIN</strong></p>
					<p id="blockchain-results">Awaiting blockchain results...</p>
					<p><a href="{{ url_for('static', filename='blockchain.json') }}">View blockchain</a></p>
				</div>
				
				<div id="map" class="module">
					<p><strong>HERE.com API</strong></p>
					<p><img id="tp-map" src="https://image.maps.api.here.com/mia/1.6/mapview?c=39.953170%2C%20-75.192741&z=14&app_id=0b4cmWmlbhkohH9tr1b5&app_code=k0XGaAYa8jWZxNnD7uqjWg"></p>
					<button id="find-toilet-paper">Find toilet paper</button>
				</div>
            </main>
        </div>
    </body>
</html>
