<!doctype html>
<html>
    <head>
        <title>Data Dump</title>
        <meta charset="utf/8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ url_for('script') }}" defer></script>
    </head>
    <body>
        <nav>
            <h1>Data Dump</h1>
            <div id="account">
                <p><img src="{{ url_for('static', filename='profile.png') }}" alt="profile picture"></p>
                <p>vaseline_dion</p>
            </div>
            <h2>Dashboard</h2>
            <h2>My Account</h2>
            <h2>Settings</h2>
            <h2>Maintenance</h2>
        </nav>
        <div id="not-nav">
            <header>
                <p><img src="{{ url_for('static', filename='hamburger.png') }}"></p>
                <p><img src="{{ url_for('static', filename='bell.png') }}"></p>
            </header>
            <main>
                <div class="module">
                    <h1 id="shitpost-button">DISPENSE</h1>
                </div>
                
                <div id="status" class="module">
                    <p id="stage1">DISPENSING...</p>
					<p id="stage2">GATHERING WEATHER REPORT...</p>
					<p id="stage3">PRINTING...</p>
					<p id="stage4">READY!</p>
					<div id="progress-bar">
						<div id="progress-bar-inside"></div>
					</div>
                </div>
                
                <div id="wipes-remaining" class="module">
					<div>
						<h1>Wipes remaining</h1>
						<p id="wipe-counter">594</p>
					</div>
					<div>
						<canvas id="canvas" width="200px" height="200px"></canvas>
					</div>
                </div>
            </main>
        </div>
    </body>
</html>
